[submodule "moveit_tutorials"]
	path = moveit_tutorials
	url = https://github.com/ros-planning/moveit_tutorials.git
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config.git
