<?xml version="1.0" encoding="utf-8"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
  <xacro:include filename="$(find panda_description)/urdf/panda_arm.xacro" />
  <xacro:include filename="$(find panda_description)/urdf/panda_hand.xacro" />
  <xacro:include filename="$(find panda_description)/urdf/panda_xtion.xacro" />
  <xacro:panda_arm />
  <xacro:panda_hand />
  <xacro:panda_xtion >
    <origin xyz="0.2 0 1.4" rpy="0 ${45.0 * deg_to_rad} 0" />
    <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0 ${-90.0 * deg_to_rad}" />
  </xacro:panda_xtion>
</robot>
