<launch>

  <!-- Load gazebo ros control configurations -->
<!--   <rosparam file="$(find panda_gazebo_controller_config)/config/panda_gazebo_ros_control.yaml" command="load" /> -->

  <!-- Launch gazebo -->
  <include file="$(find panda_gazebo)/launch/panda_gazebo_empty_world.launch" />

  <!-- Load  panda joint state launch file -->
  <include file="$(find panda_gazebo_controller_config)/launch/panda_gazebo_joint_state.launch" />

  <!-- Load panda joint trajectory launch file -->
  <include file="$(find panda_gazebo_controller_config)/launch/panda_gazebo_joint_trajectory.launch" />

  <!-- Load panda gripper action launch file -->
  <include file="$(find panda_gazebo_controller_config)/launch/panda_gazebo_gripper_action.launch" />

  <!-- Run RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find panda_bringup)/rviz/panda_bringup_gazebo.rviz" />

</launch>
