<?xml version="1.0" encoding="utf-8"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="joint_arm_1_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_1_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_arm_2_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_2_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_arm_3_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_3_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_arm_4_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_4_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_arm_5_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_5_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_arm_6_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_6_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_arm_7_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_arm_7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_arm_7_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_finger_l_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_finger_l">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="fjoint_finger_l_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint_finger_r_simp_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_finger_r">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint_finger_r_actuator">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
